<%- include('partials/header'); -%>
<div class="container">
    <h1>My weather App</h1>     
    <div class="jumbotron alert alert-info">
    <form class="form-inline">
        <div class="form-group">
            <label>
                Enter the name of location whose weather you want to search
            </label><br>
            <div class="input-group">
                <input type="text" class="form-control" name="location" placeholder="Location"><br><br>
                <button type="submit" class="btn btn-primary ">Search</button>
            </div>
        </div>
    </form>
    <p class="hello"></p>
    <p id="message-1"></p>
    <p id="message-2"></p>
    <p id="message-3"></p>
    <p id="message-4"></p>
    <img id="message-5" src="">

</div>
</div>
<%- include('partials/footer'); -%>
